.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
}

[class='2xl'] {
  max-width: 1536px;
}

.xl {
  max-width: 1280px;
}

.lg {
  max-width: 1024px;
}

.md {
  max-width: 768px;
}

.sm {
  max-width: 640px;
}
