// --------------------------------------
// -------------- Colors ----------------
// --------------------------------------

html {
  --white: #ffffff;
  --black: #07090d;

  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #161c27;

  --primary-50: #c8e4f9;
  --primary-100: #a3d1f5;
  --primary-200: #7ebff1;
  --primary-300: #5aaded;
  --primary-400: #359be9;
  --primary-500: #1887dc;
  --primary-600: #1471b8;
  --primary-700: #105a93;
  --primary-800: #0c446e;
  --primary-900: #082d49;
}

// -- Light Theme --
html.light {
  color-scheme: light;

  --primary: var(--primary-600);
  --primary-hover: var(--primary-700);
  --primary-active: var(--primary-800);

  --success: #27682a;
  --success-bg: #c9d9ca;
  --warning: #a24a02;
  --warning-bg: #fadac0;
  --error: #a82424;
  --error-bg: #f4cbcb;
  --info: #105a93;
  --info-bg: #c5e1f6;

  --background: var(--white);
  --text-color: var(--gray-900);
}

// -- Dark Theme --
html.dark {
  color-scheme: dark;

  --primary: var(--primary-500);
  --primary-hover: var(--primary-400);
  --primary-active: var(--primary-300);

  --success: #79cd7d;
  --success-bg: #2e483c;
  --warning: #fd9a49;
  --warning-bg: #4f3c2f;
  --error: #ea9a9a;
  --error-bg: #472b33;
  --info: #6cb6ef;
  --info-bg: #274058;

  --background: var(--gray-900);
  --text-color: var(--white);
}

// --------------------------------------
// --------------- Fonts ----------------
// --------------------------------------

// --------------------------------------
// -------------- Spacing ---------------
// --------------------------------------

// --------------------------------------
// --------------- Other ----------------
// --------------------------------------
