.alert {
  border-radius: 16px;
  background-color: var(--warning-bg);
  opacity: 0.9;
  margin: 32px;
  padding: 24px;

  h1 {
    color: var(--warning);
    font-size: 1.1rem;
    font-weight: 400;
  }
}
